@import '../../styles/variables';

.notification {
    display: flex;
    margin: var(--spacer-xs, 16px) var(--spacer-xs, 16px);
    padding: var(--spacer-xxs, 8px) var(--spacer-xs, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacer-xxs, 8px);

    border-radius: 8px;
    background-color: var(--white, #FFFFFF);

    position: absolute;
    top: 0;
    right: 0;

    .close {
        font-weight: bold;
        cursor: pointer;
    }

    p {
        margin: 0;
    }
}