.input {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;

    width: 100%;
    border-radius: 6.25rem;
    border-color: transparent;
    background-color: #FFF;
}