@import '../../styles/variables';

.controls {
    display: flex;
    padding: var(--spacer-xxs, 8px) var(--spacer-xs, 16px);
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    border-radius: 8px;
    background-color: var(--white, #FFFFFF);

    cursor: pointer;

    p {
        font-weight: 700;
        margin: 0;
    }
}