@import '../../styles/variables';

.user {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--spacer-xxs, 8px);
    
    align-self: stretch;
    opacity: 0;

    transform: translate(-100px);
    transition: color 0.5s, background-color 0.5s;

    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &__active {
        opacity: 1;
        font-weight: bold;
    }
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 12px;
    background-color: var(--secondary-color, #DDD3D4);
    border-radius: 100px;
    font-size: 1rem;
}