// spacer
$spacer-xxs: 8px;
$spacer-xs: 16px;
$spacer-s: 24px;
$spacer-m: 40px;

// colors
$main-color: #FDF7F4;
$secondary-color: #DDD3D4;

// greyscale
$white: #FFFFFF;
$grey: #CDCED0;
$black: #101010;