.main {
    display: flex;
    align-items: center;
    gap: var(--spacer-m, 40px);

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // width: 100vw;
    // height: 100vh;
    // gap: 2rem;
}

.image {
    width: 30vw;
    height: 30vh;
    background-image: url(../../public/img/bg-book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-s, 24px);
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-xxs, 8px);

    p {
        margin: 0;
    }
}

.h1 {
    font-size: 2rem;
    margin: 0;
}

// .h {
//     margin: 0;

//     color: #AB5D46;
//     font-size: 4rem;
//     font-weight: 700;
    
//     transform: rotate(-10.953deg);
//     position: relative;
//     bottom: 7vh;
//     left: 1vw;
// }

.error {
    color: red;
}

.input {
    display: flex;
    width: 20vw;
    padding: 0.5rem 1rem;
    align-items: center;

    border-radius: 6.25rem;
    background-color: white;
    border: none;

    font-family: 'Playpen Sans', cursive;

    &::placeholder {
        font-size: 1rem;
    }
}


// class générique

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .flex_column {
        flex-direction: column;
    }
}