@import './variables';

.main {
    display: flex;
    align-items: center;
    gap: var(--spacer-m, 40px);
}

.image {
    width: 25vw;
    height: 30vh;
    background-image: url(../../public/img/bg-book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-s, 24px);
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-xxs, 8px);

    p {
        margin: 0;
    }
}

.h1 {
    font-size: 2rem;
    margin: 0;
}

.input {
    display: flex;
    width: 20vw;
    padding: 0.5rem 1rem;
    align-items: center;

    border-radius: 6.25rem;
    background-color: white;
    border: none;

    font-family: 'Playpen Sans', cursive;

    &::placeholder {
        font-size: 1rem;
    }
}